@page "/"
@using MudBlazor
@inject IJSRuntime JsRuntime

@if (_formType == EnumFormType.List)
{
    <main id="tg-main" class="tg-main tg-haslayout">
        <section class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
                            @if (_data is not null)
                            {
                                @foreach (var item in _data.Data)
                                {
                                    var image = item.BookCover;
                                    <div class="item" @onclick="()=> GoToContent(item)">
                                        <div class="tg-postbook">
                                            <figure class="tg-featureimg">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="@image" alt="image description"></div>
                                                    <div class="tg-backcover"><img src="@image" alt="image description"></div>
                                                </div>
                                                <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                    <i class="fa-solid fa-book"></i>
                                                    <span>Read</span>
                                                </a>
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <ul class="tg-bookscategories">
                                                    <li><a href="javascript:void(0);">@item.BookTitle</a></li>
                                                    <li><a href="javascript:void(0);"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @if (_data is not null)
    {
        <div class="text-center" style="margin-top: -40px; padding-bottom: 40px;">
            <MudPagination SelectedChanged="PageBookChanged" ShowFirstButton="true" ShowLastButton="true"
                           Count="@(Convert.ToInt32(_data.TotalPage))"
                           Class="mt-0 pt-0" />
        </div>
    }
}
else
{
    if (_bookDetail is not null)
    {
        <MudGrid Style="padding-left: 8%;">
            <MudSpacer />
            <MudItem xs="3">
                <MudTooltip Text="Previous Page" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowLeft"
                                   Disabled="(_pageNo - 1 == 0)"
                                   OnClick="() => PageChanged(_pageNo - 1)"
                                   Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large"
                                   Class="me-2" />
                </MudTooltip>
            </MudItem>
            <MudSpacer />
            <MudItem xs="3">
                <MudButton Variant="Variant.Filled" Color="Color.Dark" @onclick="Back">Back</MudButton>
            </MudItem>
            <MudSpacer />
            <MudItem xs="3" Style="padding-left: 4%;">
                <MudTooltip Text="Next Page" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight"
                                   Disabled="(_pageNo == _totalPage)"
                                   OnClick="() => PageChanged(_pageNo + 1)"
                                   Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large"
                                   Class="me-2" />
                </MudTooltip>
            </MudItem>
        </MudGrid>
        @*  <div class="text-center">
            <MudButton Variant="Variant.Filled" Color="Color.Dark" @onclick="Back">Back</MudButton>
        </div> *@
        <div id="wrapper">
            <div id="container">
                <section class="open-book">
                    <header>
                        <h1></h1>
                        <h6></h6>
                    </header>
                    <article>
                        @if (_pageNo - 1 == 0)
                        {
                            <h2 class="chapter-title">@Book.BookTitle</h2>
                        }
                        @foreach (var item in _bookDetail.BookContent)
                        {
                            <p>
                                @((MarkupString)item.Content)
                            </p>
                        }
                    </article>
                    <footer>
                        <ol id="page-numbers">
                            <li>
                                <MudTooltip Text="Previous Page" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
                                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowLeft"
                                                   Disabled="(_pageNo - 1 == 0)"
                                                   OnClick="() => PageChanged(_pageNo - 1)"
                                                   Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large"
                                                   Class="me-2" />
                                </MudTooltip>
                            </li>
                            <li>
                                <MudTooltip Text="Next Page" Color="Color.Primary" Placement="Placement.Bottom" Arrow="true">
                                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight"
                                                   Disabled="(_pageNo == _totalPage)"
                                                   OnClick="() => PageChanged(_pageNo + 1)"
                                                   Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large"
                                                   Class="me-2" />
                                </MudTooltip>
                            </li>
                        </ol>
                    </footer>
                </section>
            </div>
        </div>
    }
}

